<ng-template #cancelledBadge>
  <span style="background: red; color: white; padding: 2px 8px; border-radius: 4px;">
    გაუქმებული
  </span>
</ng-template>

<ng-template #bestBadge>
  <span style="background: green; color: white; padding: 2px 8px; border-radius: 4px;">
    საუკეთესო
  </span>
</ng-template>

<div>
  საერთო საშუალო: {{getOverallAverage() | number:'1.0-1'}}
</div>

@for (student of students; track student.id; let i = $index) {
  <div>
    {{ i + 1 }}, {{ student.name }} —
    @if (student.grades.length > 0) {
      საშუალო {{ getAverage(student.grades) | number:'1.0-1' }}
      {{getGrade(getAverage(student.grades))}}
    } @else {
      ნიშნები არ არის.
    }
      
   
    @if (!student.active) {
      <ng-container *ngTemplateOutlet="cancelledBadge"></ng-container>
    }

   @if (student.grades.length > 0 && getAverage(student.grades) > getOverallAverage()) {
  <ng-container *ngTemplateOutlet="bestBadge"></ng-container>
}
  </div>
}

